In [1]:
from sklearn import tree
import pandas as pd

In [2]:
wine_df = pd.read_csv("winequality-red-2.csv")
wine_df.head()

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_2
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [4]:
target = wine_df["quality_2"]
target_names = ["bad", "good"]

In [6]:
data =  wine_df.drop("quality_2", axis=1)
feature_names = data.columns
data.head()

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=1599)

In [8]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7375

In [9]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1599)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8375

In [10]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.16537009241987757, 'alcohol'),
 (0.12514140935022164, 'sulphates'),
 (0.09855899006177266, 'volatile acidity'),
 (0.09145883208960805, 'total sulfur dioxide'),
 (0.08347081377383138, 'density'),
 (0.08273350350701666, 'Unnamed: 0'),
 (0.06625558256999173, 'chlorides'),
 (0.061651416377692655, 'fixed acidity'),
 (0.06107447898528631, 'pH'),
 (0.05852501740180776, 'citric acid'),
 (0.053677823847809406, 'free sulfur dioxide'),
 (0.05208203961508407, 'residual sugar')]